name: Deploy to staging
on:
  push: 
    branches:
      - "main"

jobs:
  redeploy_everything:
    runs-on: ubuntu-latest
    name: Deploying everything to the staging cluster
    steps:
      - run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" &> ~/ssh_key
          ssh -i ~/ssh_key ubuntu@52.90.250.6
          cd ci-next-app/ && git pull
          pnpm install
          pnpm run build
          pm2 start fe-server
          pm2 start http-server
          pm2 start ws-server